.main-login-43{
    background: url('../Images/background-login4.jpg' ) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#fff;
}
.wrapper-login-43{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 420px;
    background: transparent;
    backdrop-filter: blur(30px);
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    border: 2px solid rgba(255,255,255,.2);
    border-radius: 10px;
    padding: 30px 40px;  
}
.wrapper-login-43 h1{
    font-size: 36px;
    text-align: center;
}
.wrapper-login-43 .input-box-login-43{
    position:relative;
    width: 100%;
    height:50px;
    color:#fff;
    margin: 30px 0;
}
.input-box-login-43 input{
   width:100%;
   height: 100%;
   background: transparent;
   border: none;
   outline: none;
   border: 2px solid rgba(255,255,255, .2);
   border-radius: 40px;
   font-size: 16px;
   color:#fff;
   padding: 20px 45px 20px 20px;
}
.input-box-login-43 input::placeholder{
    color:#fff;
}
.icon-login-43{
    position: absolute;
    right:20px;
    top:50%;
    transform: translateY(-50%);
    font-size: 16px;
}

.wrapper-login-43 .remember-forgot-login-43{
    display:flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}
.remember-forgot-login-43 label input{
  accent-color: #fff;
  margin-right: 4px;
}

.remember-forgot-login-43 a{
    color:#fff;
    text-decoration: none;
}
.remember-forgot-login-43 a:hover{
    text-decoration: underline;
}
.wrapper-login-43 button{
    width:100%;
    height:45px;
    background: #fff;
    border: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    cursor: pointer;
    font-size:16px;
    color: #333;
    font-weight: 700;
}
.wrapper-login-43 .register-link-login-43{
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}
.register-link-login-43 p a{
    color:#fff;
    text-decoration: none;
    font-weight: 600;
}
.register-link-login-43 p a:hover{
    text-decoration: underline;

}